{%extends 'templates/layout.html'%}
{% block title %} Registro {%endblock%}
{% block body %} 
<div class="container text-center m-auto">
    <div class="row mt-4">
        <div class="col-xs-none col-sm-none col-md-none col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <p style="color:red;font-size:1.2rem">{{mensaje}}</p>
            <div class="card">
                <div class="card-header">
                    <p style="font-family: 'Roboto', sans-serif;font-weight:200;font-size: 30px;">Registre sus datos</p>
                </div>
                
                <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" name="usuario" placeholder="Usuario" class="form-control" maxlength="22" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Contraseña" class="form-control" maxlength="16" required>
                            </div>
                        </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-primary" style="background-color: rgb(4, 129, 231);">Iniciar sesión</button>
                </form>
                </div>
            </div>
        <div class="col-xs-none col-sm-none col-md-none col-lg-4"></div>
    </div>
</div>
{%endblock%}